.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 2px dashed #0000cc;
}

nav {
  background-color: #9494b8;
}

nav ul {
  margin: 0px;
  list-style-type: none;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}

.delete {
  background: none;
  border: none;
  font-size: 1em;
  color: blue;
  padding: 0px;
  text-decoration: underline;
}

.inline {
  display: inline;
}