input[placeholder] {
  font-size: 25px;
}

.yick-logo {
  display: inline-block;
}

.yick-link {
  font-size: 25px;
}

.left {
  /*display: flex;
  justify-content: space-between;;;*/
}

/*.logo {
  display: inline-block;;
}*/
