input[placeholder] {
  font-size: 25px;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  /*border: 2px dashed #0000cc;*/
}

.tag-line {
  /*color: red;*/
  font-style: italic;
  font-weight: lighter;
}

ul {
  list-style-type: none;
  list-style: none;
}

.btn {
  color:red;
}

.content {
  margin-top: 100px;
}

.search {
  color: gray;
}

.logo{
  width:500px;
  height:150px;
  padding:0;
  margin: 0 auto;
  background-color: red;
  /*margin-bottom:0;*/
  background:url("/images/yick_red_back.jpg");
  background-size:500px 150px;
}

nav {
  background-color: #9494b8;
}

nav ul {
  margin: 0px;
  list-style-type: none;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}

.delete {
  background: none;
  border: none;
  font-size: 1em;
  color: blue;
  padding: 0px;
  text-decoration: underline;
}

.inline {
  display: inline;
}

h5 {
  color: red;
}
