<header>
	<nav>
		<ul>
		<li><a href="/">home</a></li>
			<% if logged_in? %>
			<li><a href="/users/<%=current_user.id%>"><%= current_user.username%>: <%= current_user.id%></a></li>
			<li><a href="/logout">logout</a></li>
			<% else %>
			<li><a href="/users/new">register</a></li>
			<li><a href="/login/new">login</a></li>
			<% end %>
		</ul>
	</nav>
</header>
