<h3 class="tag-line"></h3>
<div class="content">
  <form class="search" method="post" action="/search">
    <h5> Let's Inspect </h5>
    <div class="input-field col s6">
          <input placeholder="Enter name of restaurant" type="text" name="name">
        </div>
    <input class="btn" type="submit" value="Search Restaurant">
  </form>
</div>
