<h3 class="tag-line">Something that passes the health inspection :)</h3>
<div class="content">
  <form class="search" method="post" action="/reports">
    <!-- <label>Restaurant Name:
      <input type="text" name="name">
    </label> -->
    <div class="input-field col s12">
          <input placeholder="Enter name of restaurant" type="text" name="name">
          <label for="Restaurant">Restaurant Name</label>
        </div>
    <input class="btn" type="submit" value="Search Restaurant">
  </form>
</div>
